body
{
  font-family: 'Libre Franklin', sans-serif;
}

.icon
{
  width: 25px;
  height: 25px;
}

.navstyle
{
  background-color: #ffb900;
}
.imgstyle
{
  max-height: 200px;
  max-width: 200px;
  margin: 20px 5px;
}

.cardstyle
{
  margin: 10px 10px;
  max-width: 350px;
}
.homestyle
{
  background-color:#ffebb3;
  padding:30px 30px;
}
