<div class="homestyle">
  <div class="container">
    <div class="row">
      <div class="card col-sm-12 col-lg-4 cardstyle" style="width: 18rem;">
    <img src="../images/mobile1.jpg" class="card-img-top img-responsive imgstyle" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung galaxy A8 - 230$</h5>
      <p class="card-text">
        The Samsung Galaxy A8 Star is a premium smartphone with all the pleasing features. The cameras on the device are top grade and will click top notch pictures. The configuration is great given the processor, chipset, and the graphics card specifications
      </p>
      <a href="#" class="btn btn-warning">Buy</a>
    </div>
  </div>
  <div class="card col-sm-12 col-lg-4 cardstyle" style="width: 18rem;">
<img src="../images/mobile2.png" class="card-img-top img-responsive imgstyle" alt="...">
<div class="card-body">
  <h5 class="card-title">Samsung galaxy S9 - 250$</h5>
  <p class="card-text">
The new Samsung Galaxy S9, on the best network. A powerful camera that can record in super slow-mo and capture 4k video in true-to-life detail. Stay entertained on an edge-to-edge Infinity Display.
  </p>
  <a href="#" class="btn btn-warning">Buy</a>
</div>
</div>
<div class="card col-sm-12 col-lg-4 cardstyle" style="width: 18rem;">
<img src="../images/mobile3.jpg" class="card-img-top img-responsive imgstyle" alt="...">
<div class="card-body">
<h5 class="card-title">Samsung galaxy S7 - 240$ </h5>
<p class="card-text">
  Big on screen and slim on profile. The Galaxy S7 features a stunning 5.1-inch Quad HD Super AMOLED display and Android™ 6.0 (Marshmallow). The world’s first dual-pixel smartphone camera takes incredible photos, even in low light
</p>
<a href="#" class="btn btn-warning">Buy</a>
</div>
</div>
    </div>

    <div class="row">
      <div class="card col-sm-12 col-lg-4 cardstyle" style="width: 18rem;">
    <img src="../images/mobil4.jpg" class="card-img-top img-responsive imgstyle" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy Note 8 - 150$</h5>
      <p class="card-text">
        Memory, Storage & SIM: 6GB RAM | 64GB storage expandable up to 256GB | Dual SIM with dual standby (4G+4G) ,Camera: 12+12 MP Dual rear camera with Dual Optical image stabilization, Autofocus, 2x optical zoom | 8 MP front camera with Image recording, Touch focus and Face smile detection
      </p>
      <a href="#" class="btn btn-warning">Buy</a>
    </div>
  </div>
  <div class="card col-sm-12 col-lg-4 cardstyle" style="width: 18rem;">
<img src="../images/mobile5.jpg" class="card-img-top img-responsive imgstyle" alt="...">
<div class="card-body">
  <h5 class="card-title">Samsung galaxy J7 Star - 170$</h5>
  <p class="card-text">
    Go bigger and bolder with the sleek, new Galaxy J7 Star. With a 13MP camera that captures incredible photos in low light and 5.5” screen  ,5.5” HD TFT Display ,13MP Rear Facing Camera ,13MP Front Facing Camera ,3300 mAh Battery Facial Recognition
</p>
  <a href="#" class="btn btn-warning">Buy</a>
</div>
</div>
<div class="card col-sm-12 col-lg-4 cardstyle" style="width: 18rem;">
<img src="../images/mobile1.jpg" class="card-img-top img-responsive imgstyle" alt="...">
<div class="card-body">
<h5 class="card-title">Samsung galaxy A8 - 190$</h5>
<p class="card-text">
  The Samsung Galaxy A8 Star is a premium smartphone with all the pleasing features. The cameras on the device are top grade and will click top notch pictures. The configuration is great given the processor, chipset, and the graphics card specifications
</p>
<a href="#" class="btn btn-warning">Buy</a>
</div>
</div>
    </div>

    <div class="row">
      <div class="card col-sm-12 col-lg-4 cardstyle" style="width: 18rem;">
    <img src="../images/mobile1.jpg" class="card-img-top img-responsive imgstyle" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung galaxy A8 - 216$</h5>
      <p class="card-text">
        The Samsung Galaxy A8 Star is a premium smartphone with all the pleasing features. The cameras on the device are top grade and will click top notch pictures. The configuration is great given the processor, chipset, and the graphics card specifications
      </p>
      <a href="#" class="btn btn-warning">Buy</a>
    </div>
  </div>
  <div class="card col-sm-12 col-lg-4 cardstyle" style="width: 18rem;">
<img src="../images/mobile1.jpg" class="card-img-top img-responsive imgstyle" alt="...">
<div class="card-body">
  <h5 class="card-title">Samsung galaxy A8 220-$</h5>
  <p class="card-text">
    The Samsung Galaxy A8 Star is a premium smartphone with all the pleasing features. The cameras on the device are top grade and will click top notch pictures. The configuration is great given the processor, chipset, and the graphics card specifications
  </p>
  <a href="#" class="btn btn-warning">Buy</a>
</div>
</div>
<div class="card col-sm-12 col-lg-4 cardstyle" style="width: 18rem;">
<img src="../images/mobile1.jpg" class="card-img-top img-responsive imgstyle" alt="...">
<div class="card-body">
<h5 class="card-title">Samsung galaxy A8 - 218$</h5>
<p class="card-text">
  The Samsung Galaxy A8 Star is a premium smartphone with all the pleasing features. The cameras on the device are top grade and will click top notch pictures. The configuration is great given the processor, chipset, and the graphics card specifications
</p>
<a href="#" class="btn btn-warning">Buy</a>
</div>
</div>
    </div>
  </div>
</div>
